<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../main.css">
        <base href="{{ baseURL }}"/>
        <link href="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.0.6/js/froala_editor.pkgd.min.js"></script>
    </head>
    <body>
        <div id="content">
            <div class="column">
                <div>
                    <div class="speciesInfoCard">
                        {{ infoCard }}
                    </div>
                    <div>
                        {{ sizeShapeCard }}
                    </div>
                </div>
                {% if oldIdForm %}
                <div>
                    <h3>ID</h3>{{ idContent }}
                </div>
                {% else %}
                <div>
                    <div><h3>Size & Shape</h3>{{ sizeShape }}</div>
                    <div><h3>Color Pattern</h3>{{ colorPattern }}</div>
                </div>
                <div>
                    <div><h3>Behavior</h3>{{ behavior }}</div>
                    <div><h3>Habitat</h3>{{ habitat }}</div>
                </div>
                {% endif %}
                <div>
                    <div><h3>Regional Differences</h3>{{ regionalDifferences }}</div>
                    <div><h3>Habitat (det)</h3>{{ lhHabitat }}</div>
                </div>
                <div>
                    <div><h3>Food</h3>{{ lhFood }}</div>
                    <div><h3>Nesting</h3>{{ lhNestPlacement }}<br>{{ lhNesdivescription }}</div>
                </div>
                <div>
                    <div><h3>Behavior (det.)</h3>{{ lhBehavior }}</div>
                    <div><h3>Conservation</h3>{{ lhConservation }}</div>
                </div>
            </div>
            <table id="table2">
                {% for row in imgs | batch(3, { 'annotation': '', 'url': ''}) %}
                <tr>
                    {% for i in row %}
                        <td><img width="200px" src="{{ i['url'] }}"></img></td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in row %}
                        <td>{{ i['annotation'] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
    <script>
    new FroalaEditor('div#content', {
        toolbarInline: true,
    })
    </script>
</html>